PORT=PORT
DB_HOST=localhost
DB_USER=USER
DB_PASS=PASSWORD
DB_NAME=maritime_admin
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
ANGULAR_APP_URL=http://localhost:4200
NEXT_APP_URL=NEXT_AUTH_URL
ACCESS_TOKEN_TTL=12h
REFRESH_TOKEN_TTL_DAYS=7
SHIP_URL_ENCRYPT_KEY=MRT_DTYLE_2024_SEC_KEY_32BYTES